<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
  <div class="col-xs-12">
    <h1>Recepie Name</h1>
  </div>
  <div class="col-xs-12">
    <div class="btn-group">
      <div class="btn btn-primary dropdown-toggle">Manage Recepie
        <span class="caret"></span>
      </div>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#">To Shopping List</a></li>
      <li><a href="#">Edit Recepie</a></li>
      <li><a href="#">Delete Recepie</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Descripttio</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredient</div>
</div>